.todo-form-container {
 min-width: 300px;
 max-width: 600px;
 margin: 0 auto;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 10px;
}

.todo-form-container form {
 display: flex;
 margin-bottom: 20px;
}

.todo-form-container input[type="text"] {
 flex: 1;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 10px;
 font-size: 16px;
 outline: none;
}

.todo-form-container button {
 padding: 4px;
 margin-left: 4px;
 background-color: #4caf50;
 border: none;
 border-radius: 10px;
 color: #fff;
 font-size: 16px;
 cursor: pointer;
 transition: background-color 0.5s ease-in-out;
}

.todo-form-container button:hover {
 transform: scaleX(1.01);
 background-color: #338c38;
}

.todo-list {
 list-style-type: none;
 padding: 0;
}

.input {
 width: 60%;
 padding: 10px;
 box-sizing: border-box;
 height: auto;
 border: 0;
 outline: none;
 overflow: hidden;
 overflow-wrap: break-word;
}
.todo-item {
 display: flex;
 align-items: start;
 text-align: left;
 padding: 10px;
 border-bottom: 1px solid #ccc;
 justify-content: space-between;
 transition: all 0.1s ease-in-out;
}
.todo-item:hover {
 transform: scaleX(1.01);
}
.todo-item button {
 background-color: transparent !important;
 border: none;
 border-radius: 50px;
 cursor: pointer;
 color: black;
 transition: background-color 0.5s ease-in-out;
}

.todo-item button:hover {
 transform: scaleX(1.1);
 background-color: #ccc;
}
.level {
 position: relative;
 display: inline-block;
}
.low {
 background-color: #b3e5fc; /* Light blue */
}

.medium {
 background-color: #fff59d; /* Light yellow */
}

.high {
 background-color: #ffcc80; /* Light orange */
}
.urgent {
 background-color: #ff474c /*Light red */;
}
